Flask
Flask-Session
Flask-Cors
python-dotenv
requests
tabulate

langchain
langchain-community
langchain-text-splitters
langchain-huggingface

sentence-transformers

chromadb

supabase

PyPDF2
pypdf

gunicorn
